---

#______________________________________
# run galaxy docker mounting /export dir and cvmfs config files
# both for ansible version >2.4 and <2.4

- name: "[ansible >= 2.4] Galaxy Docker run."
  docker_container:
    name: galaxydocker
    image: "{{ galaxy_flavor }}"
    state: started
    ports:
      - "80:80"
      - "21:21"
    detach: yes
    privileged: yes
    env_file: "/etc/galaxy/.mygalaxyenv"
    volumes:
      - "/etc/galaxy/delete_galaxy_user.py:/etc/galaxy/delete_galaxy_user.py:rw"
      - "{{ export_dir }}/galaxy:{{ export_dir }}/:rw"
      - "/etc/galaxy/tool_data_tables:/etc/galaxy/tool_data_tables:rw"
  when: ansible_version.full >= "2.4.0.0"

- name: "[ansible < 2.4] Galaxy Docker run (with tool_data_table mod)."
  docker: 
    name: galaxydocker
    image: "{{ galaxy_flavor }}"
    state: started
    ports:
      - "80:80"
      - "21:21"
    detach: yes
    privileged: yes
    env_file: "/etc/galaxy/.mygalaxyenv"
    volumes:
      - "/etc/galaxy/delete_galaxy_user.py:/etc/galaxy/delete_galaxy_user.py/:rw"
      - "{{ export_dir }}/galaxy:{{ export_dir }}/:rw"
      - "/etc/galaxy/tool_data_tables:/etc/galaxy/tool_data_tables:rw"
  when: ansible_version.full < "2.4.0.0"
