---

#_________________________________
# download tool_data_table
- name: creation on tool_data_tables directory
  become_user: root
  file:
    path: "/etc/galaxy/tool_data_tables"
    state: directory

#_________________________________
# download tool_data_tables for specific flavour
- name: download tool data table for covacs and GDC with Elixir-cvmfs
  get_url:
    url: 'https://raw.githubusercontent.com/indigo-dc/Reference-data-galaxycloud-repository/master/{{ refdata_cvmfs_repository_name }}/location/tool_data_table_conf.xml'
    dest: '/etc/galaxy/tool_data_tables'
  ignore_error: true
#_________________________________
# download additional tool_data_tables for GDC
- name: download additional tool_data_table for GDC
  get_url:
    url: 'https://raw.githubusercontent.com/indigo-dc/Reference-data-galaxycloud-repository/master/{{ refdata_cvmfs_repository_name }}/location/gdc_tool_data_table_conf.xml'
    dest: '/etc/galaxy/tool_data_tables'
  when: 
    - "'galaxy-gdc_somatic_variant' in galaxy_flavor"
    - refdata_cvmfs_repository_name == "data.galaxyproject.org" 

#_________________________________
# set tool_data_table_conf for covacs and gdc with repo elixir 
- name: set tool_data_table_conf in case of elixir-cvmfs
  set_fact: 
    tool_data_table_conf: '/etc/galaxy/tool_data_tables/tool_data_table_conf.xml'
  when: refdata_cvmfs_repository_name != "data.galaxyproject.org" 
   
#_________________________________
# set tool_data_table_conf in case of GDC flavor and data.galaxyproject.org cvmfs
- name: set tool_data_table_conf and additional_tool_data_table_conf in case of gdc flavor and cvmfs repository data.galaxyproject.refdata
  set_fact: 
    tool_data_table_conf: '/cvmfs/{{ refdata_cvmfs_repository_name }}/byhand/location/tool_data_table_conf.xml,/etc/galaxy/tool_data_tables/gdc_tool_data_table_conf.xml'
  when: 
    - "'galaxy-gdc_somatic_variant' in galaxy_flavor"
    - refdata_cvmfs_repository_name == "data.galaxyproject.org" 
