#GALAXY_RELEASE=release_18.05
#GALAXY_REPO=https://github.com/galaxyproject/galaxy 
#GALAXY_ROOT=/galaxy-central 
#GALAXY_CONFIG_DIR=/etc/galaxy 
#EXPORT_DIR=/export 
#GALAXY_CONFIG_FILE=/etc/galaxy/galaxy.yml 
#GALAXY_CONFIG_JOB_CONFIG_FILE=/etc/galaxy/job_conf.xml 
#GALAXY_CONFIG_JOB_METRICS_CONFIG_FILE=/etc/galaxy/job_metrics_conf.xml 
GALAXY_CONFIG_TOOL_DATA_TABLE_CONFIG_PATH={{ tool_data_table_conf }}
#GALAXY_CONFIG_WATCH_TOOL_DATA_DIR=True 
#GALAXY_CONFIG_TOOL_DEPENDENCY_DIR=/export/tool_deps 
#GALAXY_CONFIG_TOOL_PATH=/export/galaxy-central/tools 
#GALAXY_VIRTUAL_ENV=/galaxy_venv 
#GALAXY_USER=galaxy 
#GALAXY_UID=1450 
#GALAXY_GID=1450 
#GALAXY_POSTGRES_UID=1550 
#GALAXY_POSTGRES_GID=1550 
#GALAXY_HOME=/home/galaxy 
#GALAXY_LOGS_DIR=/home/galaxy/logs 
GALAXY_DEFAULT_ADMIN_USER=
GALAXY_DEFAULT_ADMIN_PASSWORD=
GALAXY_DEFAULT_ADMIN_KEY=
#GALAXY_DESTINATIONS_DEFAULT=slurm_cluster 
#GALAXY_RUNNERS_ENABLE_SLURM=True 
#GALAXY_RUNNERS_ENABLE_CONDOR=False 
#PG_DATA_DIR_DEFAULT=/var/lib/postgresql/9.3/main/ 
#PG_CONF_DIR_DEFAULT=/etc/postgresql/9.3/main/ 
#PG_DATA_DIR_HOST=/export/postgresql/9.3/main/ 
#UWSGI_PROCESSES=2 
#UWSGI_THREADS=4 
#USE_HTTPS=False 
#USE_HTTPS_LETSENCRYPT=False 
#GALAXY_CONFIG_GALAXY_INFRASTRUCTURE_URL=http://localhost 
#GALAXY_HANDLER_NUMPROCS=2 
#LC_ALL=en_US.UTF-8 
#LANG=en_US.UTF-8 
#GALAXY_CONDA_PREFIX=/export/tool_deps/_conda 
#GALAXY_CONFIG_DATABASE_CONNECTION=postgresql://galaxy:galaxy@localhost:5432/galaxy?client_encoding=utf8 
GALAXY_CONFIG_ADMIN_USERS= {{ GALAXY_ADMIN_EMAIL }}
#GALAXY_CONFIG_MASTER_API_KEY= {{ GALAXY_ADMIN_API_KEY }} 
GALAXY_CONFIG_BRAND= {{ galaxy_instance_description }}
#GALAXY_CONFIG_STATIC_ENABLED=False 
#GALAXY_CONFIG_JOB_WORKING_DIRECTORY=/export/galaxy-central/database/job_working_directory 
#GALAXY_CONFIG_FILE_PATH=/export/galaxy-central/database/files 
#GALAXY_CONFIG_NEW_FILE_PATH=/export/galaxy-central/database/files 
#GALAXY_CONFIG_TEMPLATE_CACHE_PATH=/export/galaxy-central/database/compiled_templates 
#GALAXY_CONFIG_CITATION_CACHE_DATA_DIR=/export/galaxy-central/database/citations/data 
#GALAXY_CONFIG_CLUSTER_FILES_DIRECTORY=/export/galaxy-central/database/pbs 
#GALAXY_CONFIG_FTP_UPLOAD_DIR=/export/ftp 
#GALAXY_CONFIG_FTP_UPLOAD_SITE=galaxy.docker.org 
#GALAXY_CONFIG_USE_PBKDF2=False 
#GALAXY_CONFIG_NGINX_X_ACCEL_REDIRECT_BASE=/_x_accel_redirect 
#GALAXY_CONFIG_NGINX_X_ARCHIVE_FILES_BASE=/_x_accel_redirect 
#GALAXY_CONFIG_DYNAMIC_PROXY_MANAGE=False 
#GALAXY_CONFIG_VISUALIZATION_PLUGINS_DIRECTORY=config/plugins/visualizations 
#GALAXY_CONFIG_TRUST_IPYTHON_NOTEBOOK_CONVERSION=True 
#GALAXY_CONFIG_TOOLFORM_UPGRADE=True 
#GALAXY_CONFIG_SANITIZE_ALL_HTML=False 
#GALAXY_CONFIG_WELCOME_URL=/etc/galaxy/web/welcome.html 
#GALAXY_CONFIG_OVERRIDE_DEBUG=False 
#GALAXY_CONFIG_ENABLE_QUOTAS=True 
#HOME=/home/galaxy 
#GALAXY_CONFIG_INTEGRATED_TOOL_PANEL_CONFIG=/export/galaxy-central/integrated_tool_panel.xml -d bgruening/galaxy-stable /usr/bin/startup
GALAXY_CONFIG_REQUIRE_LOGIN={{ require_login }}
GALAXY_CONFIG_ALLOW_USER_CREATION= {{ allow_user_creation }}
GALAXY_CONFIG_ALLOW_USER_IMPERSONATION={{ allow_user_impersonation }}
GALAXY_CONFIG_NEW_USER_DATASET_ACCESS_ROLE_DEFAULT_PRIVATE= {{ new_user_dataset_access_role_default_private }}
