CVMFS_SERVER_URL={{ CVMFS_SERVER_URL }} 
CVMFS_PUBLIC_KEY={{ CVMFS_PUBLIC_KEY_PATH }}/{{ CVMFS_PUBLIC_KEY }}
{% if PROXY_URL == 'DIRECT' %}
CVMFS_HTTP_PROXY=DIRECT
{% else %}
CVMFS_HTTP_PROXY={{ CVMFS_HTTP_PROXY }}
{% endif %}
